<app-header />

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="main-container">
      <button
        mat-icon-button
        style="background-color: black"
        (click)="sidenav.toggle()"
      >
        <mat-icon style="color: antiquewhite">menu</mat-icon>
      </button>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer />
