@if (loading() == false) {
<div class="card">
  <h6>
    {{ capitalize(pokemonDataObject().name) }}
  </h6>
  @if(pokemonDataObject().sprites.front_default == null){
  <img
    mat-card-image
    src="https://i.pinimg.com/550x/59/8c/5d/598c5da8a0cf4d50a8e55bf93307b251.jpg"
    alt="Photo"
    style="width: 8vw"
  />
  <p style="color: brown">Image not found</p>
  } @else {
  <img
    mat-card-image
    [src]="pokemonDataObject().sprites.front_default"
    alt="Photo"
    style="width: 8vw"
  />}
  <p>
    Type:
    {{ capitalize(pokemonDataObject().types[0].type.name) }}
  </p>
  <button mat-raised-button (click)="openDetails()">See Details</button>
</div>
} @else {
<p></p>
}
